# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

# Backend
backend/vendor/
backend/.env

# Frontend
frontend/.env

# Logs
*.log
